<div class="container">
  <div class="row">
    <h2>予約一覧</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>会員名</th>
        <th>予約スタジオ</th>
        <th>予約日</th>
        <th>開始時</th>
        <th>終了時</th>
        <th>予約状況</th>
        <th></th>
      </tr>
      <% @reservations.reverse_each do |reservation| %>
        <tr>
          <td><%= reservation.user.name %></td>
          <td><%= reservation.studio.name %></td>
          <td><%= reservation.start_at.strftime('%Y年 %m月%d日') %></td>
          <td><%= reservation.start_at.strftime('%H:%M') %></td>
          <td><%= reservation.end_at.strftime('%H:%M') %></td>
          <td><%= reservation.status_name %></td>
          <td><%= link_to "詳細", admins_reservation_path(reservation), class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>


