<table>
  <tr>
    <th>会員名</th>
    <th>予約スタジオ</th>
    <th>予約日</th>
    <th>開始時</th>
    <th>終了時</th>
    <th></th>
  </tr>
  <% @reservations.reverse_each do |reservation| %>
    <tr>
      <td><%= reservation.user.name %></td>
      <td><%= reservation.studio.name %></td>
      <td><%= reservation.start.strftime('%Y年 %m月%d日') %></td>
      <td><%= reservation.start.strftime('%H:%M') %></td>
      <td><%= reservation.end.strftime('%H:%M') %></td>
      <td><%= link_to "詳細", admins_reservation_path(reservation) %></td>
    </tr>
  <% end %>
</table>
