<div class="container">
  <div class="row"><h2>予約登録</h2></div>
  <div class="row">
    <%= form_with model: @reservation, local: true do |f| %>
      <div class="form-group">
        <%= f.label "予約日" %>
        <%= f.date_field :date, start_day: Time.now, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "開始時間" %>
        <%= f.time_select :start_at, discard_minute: true, class: "form-control" %>:00
      </div>
      <div class="form-group">
        <%= f.label "終了時間" %>
        <%= f.time_select :end_at, discard_minute: true, class: "form-control" %>:00
      </div>
      <div class="form-group">
        <%= f.collection_select :studio_id, @studios, :id, :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
      </div>
      <div class="form-group">
        <% @paid_equipments.each_with_index do |paid_equipment, i| %>
          <div>
            <%= label_tag "reservation_paid_equipment_ids_#{i}", paid_equipment.name_with_fee %>
            <%= check_box_tag "reservation[paid_equipment_ids][]", paid_equipment.id, nil, id: "reservation_paid_equipment_ids_#{i}", class: "form-control", style: "transform: scale(0.5)" %>
          </div>
            
        <% end %>
      </div>
      <%#= f.collection_check_boxes :reserved_equipment_ids, @paid_equipments, :id, :name %>
      <div class="form-group">
        <%= f.submit "予約", class: "form-control"  %>
      </div>
    <% end %>
    
  </div>
  <%= link_to "予約一覧", reservations_path %>
</div>

