<div class="container">
  <div class="row">
    <h2>会員一覧</h2>
    <div class="">
      <%= form_with url: admins_users_search_path, method: :get, local: true, class: "form-inline" do |f| %>
        <div class="form-group">
          <%= f.label "名前で検索" %>
          <%= f.text_field :search, value: @search, class: "form-control" %>        
        </div>
        <div class="form-group">
          <%= f.submit "検索", class: "form-control"%>
        </div>
  
        
      <% end %>      
    </div>
    
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>会員番号</th>
        <th>名前</th>
        <th>有効/無効</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, admins_user_path(user) %></td>
            <% if user.status %>
              <th class="text-success">有効</th>
            <% else %>
              <th class="text-danger">無効</th>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>



