<h1><%= @user.name %>様 会員情報</h1>
<table>
  <tr>
    <th>名前</th>
    <th>郵便番号</th>
    <th>住所</th>
    <th>メールアドレス</th>
    <th>退会状況</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.postal_code %></td>
    <td><%= @user.address %></td>
    <td><%= @user.email %></td>
    <td><%= @user.status %></td>
  </tr>
</table>
<%= link_to "編集", edit_admins_user_path %>