<div class="container">
  <div class="row">
    <h2><%= @studio.name %> 詳細</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>広さ</th>
        <td><%= @studio.area %>帖</td>
      </tr>
      <tr>
        <th>平日料金</th>
        <td><%= @studio.weekday_fee %>円/時間</td>
      </tr>
      <tr>
        <th>土日祝日料金</th>
        <td><%= @studio.weekend_fee %>円/時間</td>
      </tr>
    </table>
    
    <h3>備え付け機材</h3>
    <table class="table">
      <% @studio.equipments.each do |equipment| %>
        <tr>
          <th><%= equipment.name %></th>
          <td><%= equipment.equipment_genre.name %></td>
        </tr>
      <% end %>
      

      
    </table>
  </div>
</div>