<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <% if admin_signed_in? %>
      <%= link_to "管理者トップ", admins_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to 'STUDIO "S"', root_path, class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav mr-auto">
        <% if admin_signed_in? %>
          
          <li class="nav-item">
            <%= link_to "問い合わせ", admins_contacts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "予約一覧", admins_reservations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admins_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "スタジオ", admins_studios_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "有料機材", admins_paid_equipments_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
          <p class="text-light">管理者でログイン中</p>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to "アバウト", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "スタジオ", studios_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "予約", new_reservation_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "予約一覧", reservations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員情報", user_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "アクセス", access_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "問い合わせ", new_contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <strong><%= current_user.name %></strong>様
        <% else %>
          <li class="nav-item">
            <%= link_to "アバウト", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "スタジオ", studios_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "アクセス", access_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "問い合わせ", new_contact_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

